<?xml version="1.0" encoding="UTF-8"?>
<testsuite tests="3">
    <testcase classname="test1" name="Test Case 1">
	<failure> Basic JUnit failure simulation. </failure>
    </testcase>
    <testcase classname="test2" name="Test Case 2"/>
    <testcase classname="test3" name="Test Case 3"/>
</testsuite>
